@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

#check{
    display: none;
}
.NavBar-body{
    width: 100%;
    height: 75px;
    display: flex;
    border-bottom: #C8A568 5px solid;
    justify-content: space-between;
    align-items: center;

    .button{
        background-color: #C8A568;
        width: 25px;
        height: 25px;
    }

    .NavBar-Logo{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        .img{
            opacity: 0.75;
            flex: none;
        }

        .text{
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: #C8A568;
            flex: none;  
        }
    }

    .NavBar-Menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        list-style-type: none;
        flex-shrink: 0;

        .opcion{
            display: flex;
            padding: 25px 20px;
            justify-content: center;
            align-items: center;
            flex: none;
            order: 0;
            flex-grow: 0;
            text-decoration: none;
            color: #000000;
            height: 75px;
            .text{
                height: 25px;
                min-width: 30px ;
                max-width: 104px;
                font-family: "Open Sans",sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: normal;
                display: flex;
                align-items: center;
                flex: none;
                order: 0;
                flex-grow: 0;
            }
            .img{
                width: 20px;
                height: 20px;
            }
        }

        .opcion:hover{
            background-color: rgba(200, 165, 104, 0.25);

            .text{
                color: #C8A568;
                font-weight: 600;
                font-family: "Open Sans",sans-serif;
                font-style: normal;
                font-size: 18px;
            }
        }
    }

    .checkbtn{
        flex-shrink: 0;
        cursor: pointer;
        margin: 20px;
        width: 35px;
        height: 35px;
        
        .img{
            width: 35px;
            height: 35px;
            flex-shrink: 0;
        }
    }
}

@media only screen and (min-width: 1280px){
    .NavBar-body{
        .NavBar-Logo{
            gap: 20px;
            width: 412px;

            .img{
                width: 75px;
                height: 75px;
            }

            .text{
                height: 34px;
                font-size: 25px;
                word-spacing: 20px;
            }
        }

        .NavBar-Menu{
            height: 75px;
            width: 530px;
            flex-direction: row;

            .opcion{
                min-width: 70px;
                max-width: 140px;
            }
        }

        .checkbtn{
            display: none;
        }
    }
}

@media only screen and (min-width: 769px){
    .NavBar-body{
        .NavBar-Logo{
            gap: 20px;
            width: 412px;

            .img{
                width: 75px;
                height: 75px;
            }

            .text{
                height: 34px;
                font-size: 25px;
                word-spacing: 20px;
            }
        }

        .NavBar-Menu{
            height: 75px;
            width: 530px;
            flex-direction: row;

            .opcion{
                min-width: 70px;
                max-width: 140px;
            }
        }

        .checkbtn{
            display: none;
        }
    }
}

@media only screen and (min-width: 481px){
    .NavBar-body{
        .NavBar-Logo{
            gap: 20px;
            width: 412px;

            .img{
                width: 75px;
                height: 75px;
            }

            .text{
                height: 34px;
                font-size: 25px;
                word-spacing: 20px;
            }
        }

        .NavBar-Menu{
            height: 75px;
            width: 530px;
            flex-direction: row;

            .opcion{
                min-width: 70px;
                max-width: 140px;
            }
        }

        .checkbtn{
            display: none;
        }
    }
}

@media only screen and (max-width: 480px) {
    input {
        display: none;
        &:checked  .NavBar-Menu {
            right: 0;   
        }
    }
    .NavBar-body{
        .NavBar-Logo{
            gap: 5px;
            width: 273px;
            height: 50px;

            .img{
                width: 50px;
                height: 50px;
            }
            
            .text{
                height: 25px;
                font-size: 18px;
                word-spacing: 5px;
            }
        }

        
        .NavBar-Menu{
            position: fixed;
            flex-direction: column;
            right: -100%;
            width: 100%;
            height: 100vh;
        }
        
    }
}