@use '../Index' as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

.infoAsesoria-page{
    height: 100vh;
    width: 100vw;
    .info-asesoria {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-top: 70px;

        .Agendar-title{
            align-content: center;
            width: 300px;
            height: 38px;
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 38px;
            order: 0;
            display: flex;
            align-items: center;
            flex: none;
            flex-grow: 0;
            margin: 0px;
        }

        .info-asesoria-header {
            width: 429px;
            height: 27px;
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            display: flex;
            align-items: center;
            margin-bottom: 12px;
            margin-top: 16px;
    
        }

        .info-asesoria-fields-container{
            width: 510px;
            height: 254px;
            .info-asesoria-fields {
                width: 500px;
                height: 236px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 37px;

                #input-container{
                    width: 500px;
                    height: 54px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 5px;
                    flex: none;
                    align-self: stretch;
                    flex-grow: 0;
                    order: 0;
                }

                #input-container input{
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0px 5px;
                    gap: 10px;
                    width: 500px;
                    height: 24px;
                    background-color: #F5F5F5;
                    border-bottom: 2px solid #C8A568;
                    border-radius: 1px;
                    flex: none;
                    order: 1;
                    align-self: stretch;
                    flex-grow: 0;
                }

                #input-container .text-container{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0px;
                    gap: 5px;
                    width: 79px;
                    height: 25px;
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                    margin: 0;

                    .text-info{
                        max-width: 51px;
                        height: 25px;
                        font-family: "Open Sans",sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 25px;
                        display: flex;
                        align-items: center;
                        color: #12326E;
                        flex: none;
                        order: 0;
                        flex-grow: 0;
                    }

                    .material-icons{
                        color: #12326E;
                        flex: none;
                        order: 1;
                        flex-grow: 0;
                    }
                }
                
                
                .date-time {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 0px;
                    gap: 15px;
                    width: 500px;
                    height: 54px;
                    flex: none;
                    align-self: stretch;
                    flex-grow: 0;
                    
                    #input-container {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0px;
                        gap: 5px;
                        width: 242.5px;
                        height: 54px;
                        flex: none;
                        order: 0;
                        flex-grow: 1;

                        input{
                            width: 242.5px;
                            height: 24px;
                        }
                    }
                }
            }
        }

        .buttons-container{
            width: 510px;
            align-items: flex-start;
            margin-top: 12px;
            display: flex;
            justify-content: space-between;
            padding-right: 10px;
            
            .back-button {
                @include secondaryTradicion;
                width: 25%;
                border: 0;
                border-radius: $cb5;
                height: 45px;
                font-size: $p-size;
            }

            .next-button {
                @include primaryTradicion;
                width: 25%;
                border: 0;
                border-radius: $cb5;
                height: 45px;
                font-size: $p-size;
            }
        }
    }
}
