@use '../Index' as *;

.login-page {
    height: 100vh;
    width: 100vw;    
    display: flex;
    flex: none;
    flex-direction: row;

    .login-form {
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: $pure-white;
        border-radius: 20px 20px 0px 0px;

        .login-title {
            width: 338px;
            height: 195px;
            margin: 0;
            font-size: 48px;
            font-weight: 700;
            text-align: center;
            font-style: normal;
            line-height: normal;
            color: #C8A568;
        }

        .login-subtitle {
            font-family: $open-sans;
            width: 224px;
            margin: 0;
            font-size: 36px;
            font-weight: 700;
            text-align: center;
            color: $pure-black;
        }

        .login-text {
            height: 50px;
            width: 335px;
            margin: 0;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            color: $dark-gray;
        }
        
        #input-container{
            height: 75px;
            width: 350px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 5px;
            flex: none;
            flex-grow: 0;
            order: 0;
        }

        #input-container input{
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px 5px;
            gap: 10px;
            width: 350px;
            height: 50px;
            background-color: #F1F1F1;
            border-bottom: 3px solid #C8A568;
            border-radius: 5px;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
        }

        #input-container .text-container{
            margin-bottom: 0;
            margin-left: 5px;
        }

        .login-button {
            @include primaryTradicion;
            width: 25%;
            border: 0;
            border-radius: $cb5;
            height: 7.5%;
            font-size: $p-size;
        }
    }

    .login-container {
        height: 100vh;
        width: 60%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        background-color: $fortaleza;
        flex: none;
        
        img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media only screen and (max-width: 480px) {
    .login-page {
        background-color: $fortaleza;
        flex-direction: column;

        &.expanded {
            .login-form {
              height: 100vh !important;
              transition: height 2s ease;// Use !important to override existing styles if needed

              .login-title{
                display: none;
              }
            }
        
            .login-container {
              height: 0vh;
              transition: height 2s ease;
            }
        }
        .login-form {
            height: 55vh;
            width: 100vw;
            flex-direction: column;
            align-items: center;
            order: 1;
            border-radius: 20px 20px 0px 0px;
            transition: height 2s ease;

            .login-title {
                display: flex;
                position: absolute;
                top: 10vh;
            }
            .login-subtitle {
                font-size: 36px;
                font-weight: 700;
            }

            #input-container.login-pwd  {
                display: none;
                
            }

            #input-container.login-mail  {
                &:focus-within {
                    + .login-pwd {
                      display: flex;
                    }

                }
                
            }
            
            
            .login-button {
                @include primaryTradicion;
                width: 25%;
                border: 0;
                border-radius: $cb5;
                height: 7.5%;
                font-size: $p-size;
            }
        }
    
        .login-container {
            height: 45vh;
            width: 100vw;
            order: 0;
            transition: height 2s ease;
            img {
                max-width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}